# directories
.husky
coverage
node_modules
dist

# global extensions
**/*.md
**/*.webp
**/.gitkeep

# image files
**/*.svg
**/*.png
src/app/favicon.ico

# other ignore files
.prettierignore
.stylelintignore
.eslintignore
.gitignore
.gitattributes