.board {
    padding: var(--size-8); /*test*/
    block-size: 100%;
    background-image: linear-gradient(to top right, var(--theme-primary-900), var(--theme-primary-700));
}

.listRoll {
    display: flex;
    gap: var(--size-8)
}